<!DOCTYPE html>
<html>

<head>
  <title>Школы</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body background="https://im0-tub-ru.yandex.net/i?id=48cbedec73584efa34d4ccd4044e5f78&n=13">

  <% if(j == 000) {%>

    <% for (let data in a) { %>
      <form action="/like" method="post">
        <center>
      <br>
        <div class="row">
        </div>
        <div class="card mb-3" style="max-width: 1000px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="<%= a[data].photo_school %>" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Наименование: <%= a[data].name_school %></h5>
                <h5 class="card-text text-primary">Баллы: <%= a[data].ball_school %></h5>
                <p class="card-text"><small class="text-muted"> ID: <%= a[data].id_school %></center></small></p>
              </div>
            </div>
          </div>
        </div>
          </form>
      <% } %>

      <% } %>

  <% if(j == 001) {%>

    <body class="p-3 mb-2 bg-dark text-white">

      <center>

      <h1>К сожалению на сервере возникли временные неполадки</h1>
      <br>

      <img src="https://pbs.twimg.com/media/DoPYnf_X0AYaszk.jpg">

    </center>

    </body>

    <%} %>

    <% if(j == 002) {%>

      <body class="p-3 mb-2 bg-dark text-white">

        <center>

        <h1>К сожалению вы слишком тупой чтобы понять что-то.</h1>
        <br>
  
        <img src="https://i.ytimg.com/vi/OWLgl7j8zCQ/maxresdefault.jpg">

      </center>
  
      </body>

      <%} %>


</body>

</html>